<li class="bite {{if bite.isComplete 'completed'}}">
  <h3>{{bite.title}}</h3>
  <iframe src="http://www.youtube.com/embed/{{bite.videoId}}"></iframe>
  <button {{action 'complete' bite}}>Complete</button>
</li>
