<section id="knowledgebitesapp">
  <header id="header">
    <h1>Knowledge Bites</h1>
  </header>

  {{outlet}}
</section>

<footer id="info">
  <p>Click complete when you're done digesting a Bite</p>
</footer>
